<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.erickchias.tuvive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.tuvive"
        android:uiOptions="splitActionBarWhenNarrow" >
        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name="mx.erickchias.tuvive.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mx.erickchias.tuvive.LugarActivity"
            android:label="@string/title_activity_lugar" >
        </activity>
        <activity
            android:name="mx.erickchias.tuvive.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="mx.erickchias.tuvive.BandasXML"
            android:label="@string/title_activity_bandas" >
        </activity>
        <activity
            android:name="mx.erickchias.tuvive.AcercaActivity"
            android:label="@string/title_activity_acerca" >
        </activity>
        <activity
            android:name="mx.erickchias.tuvive.BandaActivity"
            android:label="@string/title_activity_banda" >
        </activity>
        <activity
            android:name="mx.erickchias.tuvive.PorDiaActivity"
            android:label="@string/title_activity_por_dia" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>